.navbar{
    background-color: #506C64;

}



#container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    
}

body{
    font-family: 'Chivo Mono', monospace;
    font-size: x-large;
    background-size: cover;
    background-repeat: no-repeat;
}
.mb-3{
    background-color: #fff;
    font-family: 'Chivo Mono', monospace;
    font-size: x-large;
}




#categories-container{
    text-align: center;
    width: auto;
    color: #000;
    display: flex;
    flex-wrap: wrap
}

.type-meals{
    /* border-radius: 100%; */
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100vw;
    overflow-x: scroll;

}
.type-meals::-webkit-scrollbar {
    width: 0px;
}
.type-meals div{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}


.type-meals div img{
    object-fit: cover;
    height: 100px;
    width: 100px;
    clip-path: circle();
    display: flex;
    flex-wrap: wrap
}

#meals img {
    position: relative;
    left: 25%;
    border-radius: 9px;
}
#meals{
    background-color: #fff;
    border-radius: 16px;
    padding: 32px 24px;
    box-shadow:
  1.2px 1.4px 7.2px rgba(0, 0, 0, 0.063),
  2.9px 3.4px 20.8px rgba(0, 0, 0, 0.095),
  5.4px 6.4px 42.5px rgba(0, 0, 0, 0.108),
  9.6px 11.4px 73.1px rgba(0, 0, 0, 0.112),
  18px 21.3px 108.8px rgba(0, 0, 0, 0.118),
  43px 51px 135px rgba(0, 0, 0, 0.18)
;
    margin: 0 16px;
}
