 .navbar {
    max-width: var(--max-width);
    width: 90vw;
    background-color: black;
    color: #000;
}



#container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
}

body{
    font-family: 'Chivo Mono', monospace;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-vector/abstract-white-shapes-background_79603-1362.jpg?size=626&ext=jpg&ga=GA1.2.1429756655.1670586158");
}

#allmeals{
    color: #000;
}

#categories-container{
    text-align: center;
    width: auto;
    color: #000;
}

.type-meals{
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
}


.type-meals li img{
    object-fit: cover;
    height: 50px;
    width: 50px;
}

#searchForm {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

#meal-cards{
    display: grid;
    grid-template-columns: repeat(auto-fil, minmax(150px, 1fr));
    margin-top: 1rem;
    color: #000;
}

.cards{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}


.hide {
    display: none;
} 


